<?xml version="1.0"?>
<configuration>
  
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.13.0, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a"/>
  </configSections>
  <log4net>
      <appender name="InfoConsoleAppender" type="log4net.Appender.FileAppender">
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message%newline"/>
        </layout>
      </appender>
      <appender name="ConsoleOutAppender" type="log4net.Appender.ColoredConsoleAppender">        
         <filter type="log4net.Filter.LevelRangeFilter">
            <levelMin value="INFO"/>
            <levelMax value="WARN"/>
        </filter>
        <target value="Console.Output"/>
         <mapping>
          <level value="FATAL"/>
          <foreColor value="Red, HighIntensity"/>
        </mapping>
        <mapping>
          <level value="ERROR"/>
          <foreColor value="Red, HighIntensity"/>        
        </mapping>
        <mapping>
          <level value="WARN"/>
          <foreColor value="Yellow, HighIntensity"/>
        </mapping>
        <mapping>
          <level value="INFO"/>
          <foreColor value="White"/>
        </mapping>
        <mapping>
          <level value="DEBUG"/>
          <foreColor value="HighIntensity"/>      
        </mapping>      
        <layout type="log4net.Layout.PatternLayout">        
          <conversionPattern value="%message%newline"/>
        </layout>                       
      </appender>
      <appender name="ConsoleErrorAppender" type="log4net.Appender.ColoredConsoleAppender">  
        <threshold value="ERROR"/>  
        <target value="Console.Error"/> 
         <mapping>
          <level value="FATAL"/>
          <foreColor value="Red, HighIntensity"/>
        </mapping>
        <mapping>
          <level value="ERROR"/>
          <foreColor value="Red, HighIntensity"/>        
        </mapping>
        <mapping>
          <level value="WARN"/>
          <foreColor value="Yellow, HighIntensity"/>
        </mapping>
        <mapping>
          <level value="INFO"/>
          <foreColor value="White"/>
        </mapping>
        <mapping>
          <level value="DEBUG"/>
          <foreColor value="HighIntensity"/>      
        </mapping>      
        <layout type="log4net.Layout.PatternLayout">        
          <conversionPattern value="%message%newline"/>
        </layout>      
      </appender>     
      <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
          <file value="Eclair.log"/>
          <StaticLogFileName value="true"/>
          <appendToFile value="true"/>
          <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
          <rollingStyle value="Composite"/>
          <datePattern value="yyyyMMdd"/>
          <maxSizeRollBackups value="10"/>
          <maximumFileSize value="100MB"/>
          <layout type="log4net.Layout.PatternLayout">
              <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
          </layout>
        <threshold value="DEBUG"/>
      </appender>
      <!--Uncomment the following to enable an the output of all console I/O in a separate file-->
      <!--<appender name="ConsoleIOFileAppender" type="log4net.Appender.RollingFileAppender">
        <file value="Eclair.IO.txt"/>
        <StaticLogFileName value="true"/>
        <appendToFile value="true"/>
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
        <rollingStyle value="Composite"/>
        <datePattern value="yyyyMMdd"/>
        <maxSizeRollBackups value="10"/>
        <maximumFileSize value="100MB"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message%newline"/>
        </layout>
        <threshold value="DEBUG"/>
      </appender>-->
    <logger name="ECLAIR.Terminal.Input">      
      <level value="INFO"/>
      <appender-ref ref="RollingFileAppender"/>
      <!--Uncomment the following to enable an the output of all console I/O in a separate file-->
      <!--<appender-ref ref="ConsoleIOFileAppender"/>-->
    </logger>
    <logger name="ECLAIR.Terminal.Output">
      <level value="INFO"/>
      <appender-ref ref="RollingFileAppender"/>
      <appender-ref ref="ConsoleOutAppender"/>
      <appender-ref ref="ConsoleErrorAppender"/>
      <!--Uncomment the following to enable an the output of all console I/O in a separate file-->
      <!--<appender-ref ref="ConsoleIOFileAppender"/>-->
    </logger>    
    <logger name="Fth">
      <level value="DEBUG"/>
      <appender-ref ref="RollingFileAppender"/>
      <appender-ref ref="ConsoleOutAppender"/>
      <appender-ref ref="ConsoleErrorAppender"/>
    </logger>
  </log4net>
  <runtime>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
